.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
  width: 100%;
  margin-top: 72px; /* height of navbar */
  margin-bottom: 72px; /* height of footer */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .main-content {
    margin-top: 64px;
    margin-bottom: 64px;
  }
} 